.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}

*{
  border-collapse: collapse;
  background-color: black;
  padding-bottom:50%;
  padding-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
}