*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
header{
    background-color: green;
    color: white;
    text-align: center;
    text-size-adjust: 5%;
    padding: 10px 0px 10px;
    margin-bottom: 5%;
}

.un{
    font-size: large;
}

p{
    margin: 1%;
}