.container {
    background-color: black; // Aplica el color negro al fondo
  }

table {
    width: 100%;
    border-collapse: collapse;
}

.foto{
    width: 300px;
    height: 200px;
}

tr {
    display:flex; 
    align-items:flex-start; 
  }

.example-card {
    flex: 0.3;
    padding-bottom:40px;
    background-color:rgb(70,70,70);
    color: white;
}

/* Estilos para el círculo */
.circle-container {
  display: flex;
  align-items: center;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Estilo para el círculo cuando el personaje está vivo (verde) */
.circle.alive {
  background-color: green;
}

/* Estilo para el círculo cuando el personaje está muerto (rojo) */
.circle.dead {
  background-color: red;
}

/* Estilo para el círculo cuando el estado del personaje es desconocido (gris) */
.circle.unknown {
  background-color: gray;
}

/* Estilos para los botones de paginación */
.pagination-buttons {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding: 20px;
}