<div class="container">
<table>
  <tr *ngFor="let pers of results.results" class="tabla">
      <td><img class="foto" [src]="pers.image" alt=""></td>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{pers.name}}</mat-card-title>
          <mat-card-subtitle>
            <div class="circle-container">
              <div
                class="circle"
                [ngClass]="{
                  alive: pers.status === 'Alive',
                  dead: pers.status === 'Dead',
                  unknown: pers.status === 'unknown'
                }"
              ></div>
              {{ pers.status }} - {{pers.species}}
            </div>
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{pers.gender}}</p>
          <mat-card-subtitle>{{vistoen}}</mat-card-subtitle>
          <mat-card-subtitle class="ult">{{locacion}}</mat-card-subtitle>
        </mat-card-content>
      </mat-card>
  </tr>
</table>
</div>



  