*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0;
}

h4{
    margin-top: 3%;
}
form>input{
    background-color: lightgrey;
    color: black;
}
form>label{
    padding-right: 10px;
    padding-left: 10px;
}
button{
    margin-left: 10px;
    background-color:lightgray;
    color: black;
}