<h2>Proceso de matricula</h2>

<form [formGroup]="matriculaForm.baseForm">

    <mat-form-field>
      <mat-label>Estudiantes</mat-label>
      <mat-select formControlName="Estudiantes">
        <mat-option *ngFor="let estudiante of listaEstudiantes" [value]="estudiante.IDEstudiante">{{ estudiante.Nombre }} {{estudiante.Apellidos}}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Cursos</mat-label>
      <mat-select formControlName="Cursos">
        <mat-option *ngFor="let curso of listaCursos" [value]="curso.IDCurso">{{ curso.NombreCurso }}</mat-option>
      </mat-select>
    </mat-form-field>
  
</form>
  
<div>
  <button mat-button color="primary" (click)="guardarMatricula()">Matricular</button>
  <button mat-button color="primary" mat-dialog-close>Cancelar</button>
</div>