table {
    width: 100%;
    //background-color:rgb(70,70,70);
    background-color: lightslategrey;
    color: black;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
    //background-color:rgb(70,70,70);
    background-color: lightslategrey;
    color: black;
  }
  

