<button mat-button color="primary" (click)="abrir()">Agregar matricula</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="IDMatricula">
      <th mat-header-cell *matHeaderCellDef> N0.Matricula </th>
      <td mat-cell *matCellDef="let element"> {{element.IDMatricula}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Cursos">
      <th mat-header-cell *matHeaderCellDef> Curso </th>
      <td mat-cell *matCellDef="let element"> {{element.Cursos.NombreCurso}}</td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Estudiantes">
      <th mat-header-cell *matHeaderCellDef> Estudiante </th>
      <td mat-cell *matCellDef="let element"> {{element.Estudiantes.Nombre}} {{element.Estudiantes.Apellidos}}</td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  